@font-face {
  font-family: "iconfont"; /* Project id 3357100 */
  src: url('iconfont.woff2?t=1650869795046') format('woff2'),
       url('iconfont.woff?t=1650869795046') format('woff'),
       url('iconfont.ttf?t=1650869795046') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanfangbanben:before {
  content: "\e603";
}

.icon-biaoqing:before {
  content: "\e618";
}

.icon-xiaochengxu:before {
  content: "\e62d";
}

.icon-xiaoyouxi:before {
  content: "\e649";
}

.icon-anzhuo:before {
  content: "\e630";
}

.icon-qiyeweixin:before {
  content: "\e6af";
}

.icon-yundongshoubiao:before {
  content: "\e640";
}

.icon-wenjianchuanshu:before {
  content: "\e622";
}

.icon-weiruan:before {
  content: "\e600";
}

.icon-shipin:before {
  content: "\e63b";
}

.icon-shequ:before {
  content: "\e61b";
}

.icon-rongzixuetang:before {
  content: "\e6ed";
}

.icon-weixin:before {
  content: "\e615";
}

.icon-weixin1:before {
  content: "\e62c";
}

.icon-weixinzhifu:before {
  content: "\e65a";
}

.icon-store:before {
  content: "\e655";
}

.icon-pingguo:before {
  content: "\e63d";
}

.icon-hongbao:before {
  content: "\e89a";
}

.icon-duihua:before {
  content: "\e710";
}

.icon-fuwu_o:before {
  content: "\ebbe";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-souyisou:before {
  content: "\e611";
}

.icon-exe-public-address-primary:before {
  content: "\e945";
}

